<%= form_for(@db_song) do |f| %>
  <% if @db_song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@db_song.errors.count, "error") %> prohibited this db_song from being saved:</h2>

      <ul>
      <% @db_song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
