// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#outerSoundBar {
  float: right;
  position: relative;
  margin: 10px;
  margin-right: 40px;
  border: 1px solid black;
  width: 200px;
  z-index: 2;
  cursor: pointer;
  top: 8px;	
}

#innerSoundBar {
  position: relative;
  height: 10px;
  background: #79bbff;
  z-index: 2;
}

.alertDiv {

}

.alertModal {
  background-color:#aa39c6;
  font-family: 'Pacifico', cursive;
  margin-left: 20em;
  margin-top: 15em;
  width: 50%;
  heioght: 50%;
}

.alertModal h1 {
  font-family: 'Pacifico', cursive;
}

.alertModal a {
  font-family: 'Pacifico', cursive;
}