<!DOCTYPE html>
<html>
<head>
  <title>CloudSound</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="shortcut icon" type="image/ico" href="http://res.cloudinary.com/mr-costanzo/image/upload/v1462125883/splat_img_ne9lyj.png"/>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
